.about-me{
    margin-top: 6rem;

    h3{
        
        text-align: center;
        font-size: 1.8rem;
        border: 4px dashed var(--gray2);
        padding: 2.5rem 0rem;        
        color: var(--gray6);
    }

    
}