.about-me {
  margin-top: 6rem;
  padding: 1.5rem;
  h3 {
    text-align: center;
    font-size: 1.8rem;
    border: 4px dashed $gray2;
    padding: 2.5rem 0rem;
    color: $gray6;
    margin-bottom: 5rem;
  }
}
