* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size;
}

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .App {
//   padding: 1.5rem;
// }

.react {
  background-color: $gray6;
  color: $blue-light;
}

.javascript {
  background-color: $yellow;
  color: $gray6;
}
.html {
  background-color: $green;
  color: $gray6;
}
.css {
  background-color: $pink-light;
  color: $gray6;
}
