* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .App {
//   padding: 1.5rem;
// }

.react {
  background-color: var(--gray6);
  color: #00d8ff;
}

.javascript {
  background-color: #f0db4f;
  color: var(--gray6);
}
.html {
  background-color: #09c372;
  color: var(--gray6);
}
.css {
  background-color: #f95fbe;
  color: var(--gray6);
}
