.contact-me {
  @include mt10;

  h3 {
    @include h3_dashed_border;
  }
  p {
    font-size: 1.2rem;
    margin-top: 0.3rem;
    color: $gray3;
  }
  .grid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    row-gap: 5rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img {
        height: 4rem;
        width: 4rem;
      }
      span {
        font-size: 1rem;
        margin-top: 1rem;
        color: $gray3;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media only screen and (min-width: 650px) {
  .contact-me {
    padding: 0 4rem;
    h3 {
      @include h3_dashed_border_650;
    }
  }
}

@media only screen and (min-width: 950px) {
  .contact-me {
    h3 {
      @include h3_dashed_border_950;
    }
    .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
