.projects {
  @include mt10;

  h3 {
    @include h3_dashed_border;
  }
}

@media only screen and (min-width: 650px) {
  .projects {
    padding: 0 4rem;
    h3 {
      @include h3_dashed_border_650;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media only screen and (min-width: 950px) {
  .projects {
    padding: 0 4rem;
    h3 {
      @include h3_dashed_border_950;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
